<div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-lg section-shaped pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      
<script type="module" src="script.component.js"></script>
<body>
<div class="container">
<div class="navigation">
  <div class="menu-toggle"></div>
  <ul class="list">
    <li class="list-item active" style="--color:#f44336"><a href="#">
      <span class="icon">
        <i class="fa-solid fa-house"></i>
      </span>
      <span class="text">Home</span>
      </a></li>
    <li class="list-item" style="--color:#ffa117"><a href="#">
      <span class="icon">
        <i class="fa-solid fa-house"></i>
      </span>
      <span class="text">About</span>
      </a></li>
    <li class="list-item" style="--color:#0fc70f"><a href="#">
      <span class="icon">
        <i class="fa-solid fa-house"></i>
      </span>
      <span class="text">Contact</span>
      </a></li>
    <li class="list-item" style="--color:#2196f3"><a href="#">
      <span class="icon">
        <i class="fa-solid fa-house"></i>
      </span>
      <span class="text">Portfolio</span>
      </a></li>
    <li class="list-item" style="--color:#b145e9"><a href="#">
      <span class="icon">
        <i class="fa-solid fa-house"></i>
      </span>
      <span class="text">Blog</span>
      </a></li>
  </ul>
</div>
</div>
</body>
